.chat-window .chat-window-main-icon {
  font-size: 24px;
  height: 50px;
  width: 50px;
  background-color: #1890ff;
  color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
}
.chat-window .chat-window-main-icon:hover {
  box-shadow: 0 0 27px 1.5px rgba(0, 0, 0, 0.2);
}
.chat-window .chat-window-main-content {
  position: relative;
}
.chat-window .chat-window-main-content .chat-window-main-content-container {
  background-color: white;
  position: absolute;
  height: 500px;
  width: 400px;
  bottom: 60px;
  right: 25px;
  border-radius: 10px;
  box-shadow: 0 7px 40px 2px rgba(147, 148, 149, 0.3);
  display: flex;
  flex-direction: row;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .people-list {
  background-color: rgba(24, 144, 255, 0.7);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  flex: 0.2;
  box-shadow: 2px 0 6px rgba(0, 1, 21, 0.1);
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-content-header {
  background: #4e8cff;
  min-height: 75px;
  border-top-right-radius: 9px;
  color: white;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message {
  flex: 0.8;
  -webkit-box-shadow: 19px 0px 86px -52px #1890ff;
  -moz-box-shadow: 19px 0px 86px -52px #1890ff;
  box-shadow: 19px 0px 86px -52px #1890ff;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-message-container {
  flex-grow: 1;
  padding-top: 16px;
  overflow: auto;
  height: 300px;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-message-container .message-item-container {
  padding-bottom: 10px;
  width: 300px;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-message-container .message-item-container > div {
  padding-bottom: 10px;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-message-container .message-item-container .message-item-content {
  padding: 17px 20px;
  border-radius: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-message-container .message-item-container .message-item-received {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-message-container .message-item-container .message-item-received img {
  border-radius: 50%;
  width: 35px;
  margin-right: 15px;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-message-container .message-item-container .message-item-received .message-item-content {
  color: #263238;
  background-color: #f4f7f9;
  margin-right: 40px;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-message-container .message-item-container .message-item-sent {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-message-container .message-item-container .message-item-sent .message-item-content {
  background-color: #4e8cff;
  color: #fff;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-input {
  background-color: #f4f7f9;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-right-radius: 10px;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-input input {
  background-color: #f4f7f9;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-width: 0;
  outline: none;
  box-shadow: none;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-input input:focus, .chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-input input:hover {
  outline: none;
  border: none;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-input .ulities-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .chat-window-input .ulities-container i {
  margin-right: 3px;
  margin-left: 3px;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .active {
  box-shadow: 0 0 20px 0 rgba(150, 165, 190, 0.2);
  background-color: #fff;
}
.chat-window .chat-window-main-content .chat-window-main-content-container .chat-window-message .active input {
  background-color: #fff;
}
.chat-window .chatwindow-visible-enter {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
}
.chat-window .chatwindow-visible-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 0.1s ease-out;
}
.chat-window .chatwindow-visible-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.chat-window .chatwindow-visible-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 0.1s ease-out;
}

/*# sourceMappingURL=styles.css.map */
