.post-00001 {
	.title {
	border-top: 1px solid #ececec;
	padding-top: 40px;
	margin-top: 44px;
	line-height: 1.2;
	font-size: 2.4em;
	font-weight: bold;
	border-top: 1px solid #ececec;
	}
	.description {
	text-align: justify;
	margin-top: 30px;
	font-size: 1.4em;
	line-height: 1.7;
	}
	.subtitle {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: -10px;
	margin-top: 30px;
	}
	.description-abstract {
	font-size: 21px;
	font-weight: 400;
	color: #6d6d6d;
	}
	.description-subitem {
	font-size: 21px;
	font-weight: 300;
	margin-top: 30px;
	}
	.success-table {
		margin: 30px 0;
		border-collapse: collapse;
		width: 100%;
		th:nth-child(2), th:nth-child(5){width: 10%}
		td:nth-child(2), td:nth-child(5){width: 10%}
		th, td {
			padding: 10px 0px 10px 5px;
			border: 1px solid #ddd;
		}
	}
	@media only screen and (max-width: 700px){
		.success-table {
			font-size: 10px;
		}
	.description-subitem {
			font-size: 18px !important;
		}
		.subtitle {
			font-size: 21px;
		}
	}
}
