@import url("https://fonts.googleapis.com/css?family=Heebo:300");

.landing-page {
  @mixin cloud($className) {
    .#{$className} {
      animation: moveclouds ((random(350) + 350) + s) linear infinite;
      opacity: random(100) / 100;
      top: random(50) + 50 + vh;
      left: - random(30000) + 27000 + px;
    }
  }

  body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .ant-layout {
    background-color: white;
  }

  font-family: Heebo, sans-serif;
  -webkit-font-smoothing: antialiased;

  .navigation {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;

    .logo {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 3;

        img {
          height: 60px;
          margin-right: 10px;
        }

        h1 {
          color: white;
          font-size: 35px;
          margin-top: 0;
          margin-bottom: 12px;
          .at {
            font-size: 45px;
          }
        }
      }
      flex-grow: 1;
    }

    ul {
      background-color: transparent;
      border-bottom: 0;
      display: flex;

      * {
        line-height: 48px;
      }

      .ant-menu-item {
        color: white;

        * {
          color: white !important;
        }
      }

      .ant-menu-item:hover {
        border-bottom-color: white;
        border-bottom-width: 2px;
      }

      .ant-menu-item-selected {
        border-bottom-color: white;
      }
    }
  }

  #clouds {
    overflow: hidden;
    height: 100vh;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    .main-intro {
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      margin-top: 30vh;
      color: white;

      button {
        margin-top: 30px;
        border-color: transparent;

        &:hover {
          background-color: transparent;
          color: white;
          border-color: white;
        }
      }
    }
  }

  .cloud {
    background-color: #fff;
    width: 130px;
    height: 130px;
    border-top-right-radius: 130px;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    position: absolute;
    top: 40vh;
    &:after {
      content: "";
      z-index: -1;
      position: absolute;
      background-color: #fff;
      left: 80%;
      bottom: 0;
      width: 65px;
      height: 65%;
      border-top-right-radius: 65px;
      border-bottom-right-radius: 65px;
    }
    &:before {
      content: "";
      z-index: -1;
      width: 100px;
      height: 60%;
      position: absolute;
      background-color: #fff;
      left: -25px;
      bottom: 20px;
      border-top-left-radius: 45px;
      border-bottom-left-radius: 45px;
    }
  }

  $i: 1;
  @while $i < 200 {
    @include cloud(c#{$i});
    $i: $i + 1;
  }

  @keyframes moveclouds {
    0% {
      margin-left: 1200px;
    }

    100% {
      margin-left: -13000px;
    }
  }

  .main-content {
    padding: 20px 100px;

    .intro-details {
      color: rgb(29, 31, 34);
      text-align: center;
      font-size: 1.75rem;
      font-weight: 500;
      line-height: 48px;
      padding: 40px 160px 60px 160px;
      border-bottom: 1px solid #dfe4f3;
      text-align: justify;
      -moz-text-align-last: center;
      text-align-last: center;
    }

    .intro-rollcall {
      padding-top: 60px;
      padding-bottom: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #dfe4f3;

      & > div {
        color: #1d1f22;
        .intro-rollcall-title {
          margin-bottom: 12px;
          font-size: 1.75rem;
          font-weight: 500;
        }

        .intro-rollcall-content {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.83;
          margin-right: 20px;
          max-width: 400px;
          text-align: justify;
        }
      }

      img {
        margin-left: auto;
        height: 600px;
        border-radius: 9px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    .intro-email {
      padding-top: 60px;
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;

      .intro-email-content {
        font-size: 1.75rem;
        font-weight: 600;

        .intro-email-content-subtitle {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }

      .intro-email-form {
        width: 100%;
        margin-top: 35px;
        .ant-input-search {
          width: 50%;
          height: 60px;
          button {
            height: 60px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .landing-page {
    .ant-layout-header {
      padding-left: 0;
      padding-right: 0;
    }

    .navigation {
      top: 6px;

      .logo {
        a {
          img {
            height: 35px;
            margin-right: 10px;
          }
          h1 {
            font-size: 25px;
            margin: 0;
            .at {
              font-size: 35px;
            }
          }
        }
      }
    }

    #clouds {
      .main-intro {
        font-size: 24px;
        margin-top: 25vh;

        button {
          margin-top: 27px;
        }
      }
    }

    .main-content {
      padding: 20px 4px;
      z-index: 1000;

      .intro-details {
        z-index: 4;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 38px;
        padding: 40px 20px 60px 20px;
      }

      .intro-rollcall {
        padding-top: 60px;
        padding-bottom: 60px;
        flex-direction: column-reverse;

        & > div {
          .intro-rollcall-title {
            margin-bottom: 12px;
            font-size: 1.75rem;
            font-weight: 500;
            text-align: center;
          }

          .intro-rollcall-content {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.83;
            margin-right: 0;
            padding-right: 10px;
            padding-left: 10px;
            max-width: 400px;
          }
        }

        img {
          margin-left: 0;
          height: 180px;
          margin-bottom: 30px;
        }
      }

      .intro-email {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        .intro-email-content {
          font-size: 1.40rem;
          font-weight: 600;

          .intro-email-content-subtitle {
            font-size: 0.8rem;
            font-weight: 500;
          }
        }

        .intro-email-form {
          margin-top: 21px;
          .ant-input-search {
            width: 90vw;
            height: 33px !important;
            button, input {
              height: 33px !important;
            }
          }
        }
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
  .landing-page {
    .ant-layout-header {
      padding-left: 10px;
      padding-right: 10px;
    }

    .navigation {
      top: 10px;

      .logo {
        a {
          img {
            height: 48px;
            margin-right: 10px;
          }
          h1 {
            font-size: 30px;
            margin: 0;
            .at {
              font-size: 40px;
            }
          }
        }
      }
    }

    #clouds {
      .main-intro {
        font-size: 30px;
        margin-top: 30vh;

        button {
          margin-top: 29px;
        }
      }
    }

    .main-content {
      padding: 20px 10px;

      .intro-details {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 44px;
        padding: 40px 25px 60px 25px;
      }

      .intro-rollcall {
        padding-top: 60px;
        padding-bottom: 60px;
        flex-direction: column-reverse;

        & > div {
          .intro-rollcall-title {
            margin-bottom: 12px;
            font-size: 1.75rem;
            font-weight: 500;
            text-align: center;
          }

          .intro-rollcall-content {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.83;
            margin-right: 20px;
            max-width: 400px;
          }
        }

        img {
          margin-left: 0;
          height: 280px;
          margin-bottom: 30px;
        }
      }

      .intro-email {
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        .intro-email-content {
          font-size: 1.65rem;
          font-weight: 600;

          .intro-email-content-subtitle {
            font-size: 1.1rem;
            font-weight: 500;
          }
        }

        .intro-email-form {
          margin-top: 25px;
          .ant-input-search {
            width: 85vw;
            height: 40px;
            button {
              height: 40px;
            }
          }
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .landing-page {
    .ant-layout-header {
      padding-left: 10px;
      padding-right: 10px;
    }

    .navigation {
      top: 10px;

      .logo {
        a {
          img {
            height: 48px;
            margin-right: 10px;
          }
          h1 {
            font-size: 30px;
            margin: 0;
            .at {
              font-size: 40px;
            }
          }
        }
      }
    }

    #clouds {
      .main-intro {
        font-size: 35px;
        margin-top: 30vh;

        button {
          margin-top: 32px;
        }
      }
    }

    .main-content {
      padding: 20px 10px;

      .intro-details {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 44px;
        padding: 40px 25px 60px 25px;
      }

      .intro-rollcall {
        padding-top: 60px;
        padding-bottom: 60px;
        flex-direction: column-reverse;

        & > div {
          .intro-rollcall-title {
            margin-bottom: 12px;
            font-size: 1.85rem;
            font-weight: 500;
            text-align: center;
          }

          .intro-rollcall-content {
            font-size: 1.1rem;
            font-weight: 300;
            line-height: 1.83;
            margin-right: 20px;
            max-width: 550px;
          }
        }

        img {
          margin-left: 0;
          height: 370px;
          margin-bottom: 40px;
        }
      }

      .intro-email {
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        .intro-email-content {
          font-size: 1.7rem;
          font-weight: 600;

          .intro-email-content-subtitle {
            font-size: 1.15rem;
            font-weight: 500;
          }
        }

        .intro-email-form {
          margin-top: 25px;
          .ant-input-search {
            width: 70vw;
            height: 45px;
            button {
              height: 45px;
            }
          }
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .landing-page {
    .navigation {
      top: 15px;

      .logo {
        a {
          img {
            height: 50px;
            margin-right: 10px;
          }
          h1 {
            margin-bottom: 5px;
          }
        }
      }
    }

    #clouds {
      .main-intro {
        font-size: 40px;
        margin-top: 30vh;

        button {
          margin-top: 36px;
        }
      }
    }

    .main-content {
      padding: 20px 10px;

      .intro-details {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 44px;
        padding: 40px 30px 60px 30px;
      }

      .intro-rollcall {
        padding-top: 60px;
        padding-bottom: 60px;
        flex-direction: column-reverse;

        & > div {
          .intro-rollcall-title {
            margin-bottom: 14px;
            font-size: 1.9rem;
            font-weight: 500;
            text-align: center;
          }

          .intro-rollcall-content {
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.83;
            margin-right: 20px;
            max-width: 600px;
          }
        }

        img {
          margin-left: 0;
          height: 430px;
          margin-bottom: 50px;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .landing-page {
    .ant-layout-header {
      padding-left: 50px;
      padding-right: 50px;
    }

    .navigation {
      top: 18px;

      .logo {
        a {
          img {
            height: 51px;
            margin-right: 10px;
          }
          h1 {
            margin-bottom: 6px;
          }
        }
      }
    }

    #clouds {
      .main-intro {
        font-size: 40px;
        margin-top: 30vh;

        button {
          margin-top: 32px;
        }
      }
    }

    .main-content {
      padding: 20px 30px;

      .intro-details {
        font-size: 1.55rem;
        font-weight: 500;
        line-height: 46px;
        padding: 40px 35px 60px 35px;
      }

      .intro-rollcall {
        padding-top: 60px;
        padding-bottom: 60px;
        flex-direction: row;
        align-items: center;

        & > div {
          .intro-rollcall-title {
            margin-bottom: 12px;
            font-size: 1.85rem;
            font-weight: 500;
            text-align: left;
          }

          .intro-rollcall-content {
            font-size: 1.1rem;
            font-weight: 300;
            line-height: 1.83;
            margin-right: 20px;
            max-width: 400px;
          }
        }

        img {
          margin-left: auto;
          margin-bottom: 0;
          height: 330px;
        }
      }

      .intro-email {
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;

        .intro-email-content {
          font-size: 1.7rem;
          font-weight: 600;

          .intro-email-content-subtitle {
            font-size: 1.15rem;
            font-weight: 500;
          }
        }

        .intro-email-form {
          margin-top: 25px;
          .ant-input-search {
            width: 70vw;
            height: 45px;
            button {
              height: 45px;
            }
          }
        }
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .landing-page {
    .ant-layout-header {
      padding-left: 200px;
      padding-right: 200px;
    }
    .navigation {
      height: 48px;

      .logo {
        a {
          img {
            height: 60px;
            margin-right: 10px;
          }

          h1 {
            font-size: 35px;
            margin-top: 0;
            margin-bottom: 12px;
            .at {
              font-size: 45px;
            }
          }
        }
      }
    }

    #clouds {
      .main-intro {
        font-size: 40px;
        font-weight: 700;
        margin-top: 30vh;

        button {
          margin-top: 30px;
        }
      }
    }

    .main-content {
      padding: 20px 100px;

      .intro-details {
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 48px;
        padding: 40px 160px 60px 160px;
      }

      .intro-rollcall {
        padding-top: 60px;
        padding-bottom: 60px;

        & > div {
          .intro-rollcall-title {
            margin-bottom: 12px;
            font-size: 1.75rem;
            font-weight: 500;
          }

          .intro-rollcall-content {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.83;
            margin-right: 20px;
            max-width: 400px;
          }
        }

        img {
          margin-left: auto;
          height: 600px;
          border-radius: 9px;
        }
      }

      .intro-email {
        padding-top: 60px;
        padding-bottom: 60px;
        width: 100%;

        .intro-email-content {
          font-size: 1.75rem;
          font-weight: 600;

          .intro-email-content-subtitle {
            font-size: 1.2rem;
            font-weight: 500;
          }
        }

        .intro-email-form {
          width: 100%;
          margin-top: 35px;
          .ant-input-search {
            width: 50%;
            height: 60px;
            button {
              height: 60px;
            }
          }
        }
      }
    }
  }
}
