@import url("https://fonts.googleapis.com/css?family=Roboto:300");

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.layout-content {
  height: 100%;
}

.overview-info-card-container {
  margin-bottom: 6px;

  .overview-info-column-container {
    margin-bottom: 30px;
  }

  .ant-card-head {
    padding: 0 8px;
    border-bottom-width: 0;

    .head-container {
      display: flex;
      flex-direction: row;
    }

    .ant-card-head-title {
      padding-top: 5px;
      border: 0px solid rgb(238, 238, 238);
      border-bottom-width: 1px;
      height: 90px;
    }
    .icon-container {
      height: 75px;
      width: 75px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -20px;
      background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
      box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28),
        0 4px 20px 0px rgba(0, 0, 0, 0.12),
        0 7px 8px -5px rgba(0, 188, 212, 0.2);
    }

    i {
      color: white;
      font-size: 30px;
    }

    .overview-info-card-text-container {
      float: right;
      margin-left: auto;
      text-align: right;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;

      p {
        color: #999999;
        margin: 0;
        font-size: 14px;
        font-weight: 100;
        line-height: 1.3em;
        word-wrap: break-word;
      }

      h3 {
        color: rgb(60, 72, 88);
        min-height: auto;
        font-weight: 300;
        line-height: 1.4em;
        font-size: 23px;
        small {
          color: #777;
          font-size: 58%;
        }
      }
    }
  }

  .ant-card-body {
    padding: 10px 8px;

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;

      .icon {
        margin-left: auto;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s linear;
        opacity: 1;
        background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
      }

      .icon:hover {
        opacity: 0.9;
      }

      .description {
        color: rgb(153, 153, 153);
      }
    }
  }
}

.real-time-marking-card {
  margin-bottom: 24px;
  .real-time-marking-container {
    display: flex;
    align-content: center;
    justify-content: center;

    .camera-loading {
      $loading-color: rgb(24, 144, 255);

      width: 100px;
      height: 100px;
      border-radius: 100%;
      position: relative;

      .circle {
        background: none;
        width: 100px;
        height: 100px;
        border: 2px solid transparent;
        border-radius: 100%;
        border-color: $loading-color transparent transparent;
        position: absolute;
        overflow: hidden;
      }

      .camera-loading-space {
        position: absolute;
        color: $loading-color;
        height: 106px;
        width: 106px;
        //bottom: 10%;
        text-align: center;
        line-height: 80px;
        font-size: 5em;
        //background: #fff;
      }

      .flip {
        -webkit-animation: rolling 3s linear 0s infinite normal;
        -moz-animation: rolling 3s linear 0s infinite normal;
        -o-animation: rolling 3s linear 0s infinite normal;
        animation: rolling 3s linear 0s infinite normal;
      }

      .ani-spin {
        -webkit-animation: spin 1.5s linear 0s infinite normal;
        -moz-animation: spin 1.5s linear 0s infinite normal;
        -o-animation: spin 1.5s linear 0s infinite normal;
        animation: spin 1.5s linear 0s infinite normal;
      }

      @-webkit-keyframes rolling {
        0% {
          -webkit-transform: rotate(0);
        }

        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @-moz-keyframes rolling {
        0% {
          -moz-transform: rotate(0);
        }
        100% {
          -moztransform: rotate(360deg);
        }
      }

      @-o-keyframes rolling {
        0% {
          -o-transform: rotate(0);
        }
        100% {
          -o-transform: rotate(360deg);
        }
      }
      @keyframes rolling {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0);
        }

        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @-moz-keyframes spin {
        0% {
          -moz-transform: rotate(0);
        }

        100% {
          -moz-transform: rotate(360deg);
        }
      }

      @-o-keyframes spin {
        0% {
          -o-transform: rotate(0);
        }

        100% {
          -o-transform: rotate(360deg);
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
  .status-text {
    margin-top: 20px;
    text-align: center;
  }
}

.rollcall {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
}

.activity-card {
  margin-bottom: 36px;
  flex: 1;

  .activity-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .activity-card-header-text {
      font-size: 18px;
    }

    .activity-card-header-update {
      margin-left: auto;
      font-size: 14px;
      font-weight: 200;
    }
  }

  .ant-card-body {
    padding-top: 0px;

    .ant-list-item-meta-description {
      color: rgba(0, 0, 0, 0.25);
      font-size: 14px;
      line-height: 22px;
      font-family: "Monospaced Number", "Chinese Quote", -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
        "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
        Arial, sans-serif;
    }
  }
}

.student-ontime-card {
  .ant-card-body {
    padding: 40px 0;
    height: 202.89px !important;
  }
}

