.classroom {
  margin: -48px -28px 0 -28px;
  .classroom-introduction {
    width: 100%;
    background-color: white;

    .classroom-introduction-container {
      padding: 18px 32px;
      display: flex;
      flex-direction: row;
      font-family: "Roboto", sans-serif;

      .classroom-title {
        color: rgba(0, 0, 0, 0.85);
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 16px;
      }

      .classroom-description {
        color: rgba(0, 0, 0, 0.65);
        line-height: 1.5em;
        font-size: 14px;
      }
    }

    img {
      height: 180px;
      margin-left: auto;
    }
  }

  .class-list-container {
    padding: 32px;
    .class-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      grid-gap: 20px;
      align-items: stretch;

      .add-class-card {
        min-height: 178px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: #fff;
        border-color: #d9d9d9;
        border-radius: 2px;
        color: rgba(0, 0, 0, 0.45);
        outline: none;
        border-style: dashed;

        &:hover {
          color: #40a9ff;
          border-color: #40a9ff;
        }
      }

      .class-card {
        min-height: 178px;
        display: flex;
        flex-direction: column;
        font-family: "Roboto", sans-serif;

        .ant-card-body {
          flex-grow: 1;
          .class-card-body {
            display: flex;
            flex-direction: row;
          }

          .class-card-avatar {
            margin-right: 18px;
          }

          .class-card-content-title {
            font-weight: 400;
            font-size: 1.3rem;
            margin-bottom: 2px;
          }

          .class-card-content-description {
            font-weight: 300;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

.class-form {
  .ant-modal-body {
    padding: 20px;

    .ant-steps {
      margin-bottom: 20px;
    }

    .class-form-info {
      p {
        margin-bottom: 8px;
      }

      .ant-input {
        margin-bottom: 20px;
      }
    }

    .class-form-picture-upload {
      .ant-upload-list-item {
        margin-top: 10px;
      }
      margin-bottom: 110px;
    }
  }
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 0;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0ms ease-in;
}
